# Ignore everything
*

# But not these files...
!.gitignore

!src
!src/
!src/**

!WebContent
!WebContent/
!WebContent/www
!WebContent/www/
!WebContent/www/**
!WebContent/WEB-INF/web.xml

!*.txt
!*.md

# MAC HIDDEN FILES
.DS_Store

