img {
    height: 25%;
    width: 25%;
    display: block;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

h4 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

h3 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}

#home {
    margin-top: 90px;
}

.form-group {
    margin-right: auto;
    margin-left: auto;
}

input {
    text-align: center;
    block-size: 45px;
}

#username {
    margin-top: 30px;
}

#pass {
    margin-top: 0.5px;
}

.btn {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

#top {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    color: white;
}

#bottom {

    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    color: white;
}