body{
    background-color: snow;
}

img{
    height: 200px;
    width: 200px;
    display: block;
    margin-top: 100px;
    margin-right: auto; 
    margin-left: auto;
}

#logInButton{
    width: 60%;
    display: block;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
} 

#signUpButton{
    width: 60%;    
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.btn-info{
    padding: 15px;
    
}

.btn{
    font-size: 20px;
}
