@import "bourbon";

html { width: 100%; height:100%; overflow:hidden; }

body {
	background-repeat:no-repeat;
	background-color: snow;
	width: 100%;
	height:100%;
}

#mapBox{
	padding-top: 20px;
}

#map{
	width:300px;
	height:250px;
	border-style:solid;
	border-color:black;
    display: block;
    margin-right: auto;
	margin-left: auto;
} 

#divide.page-header{
	padding-bottom: 5px;
    margin: 10px 0 5px;
    border-bottom: 1px solid #eee;
}

img{
    display: block;
    margin-right: auto; 
    margin-left: auto;
}

#locationInfo{
	text-align:center;		
	display: block;
    margin-right: auto; 
    margin-left: auto;
}

#levelInfo{
	text-align:center;		
    display: block;
    margin-right: auto; 
    margin-left: auto;
}

#noteInfo{
	text-align:right;		
	display: block;
    margin-right: auto; 
    margin-left: auto;
}

a:not([href]):not([tabindex]) {
    color: #FFF;
}

.btn-info{
    background-color: #5bc0de;
	border-color: #46b8da;
	padding: 10px;
	width: 55%;
    display: block;
    margin-top: 150px;
    margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	font-size: 20px;
}

.container.marketing{
	display: block;
    margin-right: auto; 
    margin-left: auto;
}

#noteRow{
	text-align:center;		
	display: block;
    margin-right: auto; 
    margin-left: auto;
}

#labelPadding{
	padding-left: 30px;
}

#message{
	height: 60px;
	width: 180px;
	display: block;
    width: 75%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: snow;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#noteTextArea.form-control {

	// text-align:center;		
	// display: block;
    // margin-right: auto; 
    // margin-left: auto;
	margin-right: 140px;
	// margin-left: auto;
    display: block;
    width: 75%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-signin-heading{
	color: snow;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-signin {	
  max-width: 380px;
  padding: 5px;
  margin: 0 auto;

  .form-signin-heading{
	margin-bottom: 2px;
		
	}

}

#bootstrap-overrides input{
	margin-bottom: 10px;
}

