body {
    background-color: white;
}

h2 {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
	margin-top: 10px;
	color: #27D455;
}

h4 {
	font-family: 'Amatic SC', cursive, bold;
	font-size: 35px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0.3cm;		/* padding: top right bottom left */

}

#map{
	width: 100%;
	height: 10%;
	border-style:solid;
	border-color: grey;
    display: block;
    margin-right: auto;
	margin-left: auto;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 	/* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.iframe-container > * {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 10cm 0 10cm;
    height: 100%;
    width: 100%;
}

/* hide Google Maps logo */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}