body {
    background-color: white;
    margin-top: 40px;
}

h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

tr.reserved {
	background-color: rgb(187, 247, 174);	
}

.table-hover > tbody > tr.reserved:hover {
	background-color: rgb(187, 247, 174);
}